body {
    background-color: black;
    color: green;
    font-family: 'Lucida Console', 'Consolas', monospace;
    margin: 10px;
    padding: 20px;
}

p {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid green;
}

th, td {
    padding: 7px;
    text-align: left;
}